<h2>Add Log</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<form method="POST" action="addlog">
	<div>
		<label for="number">Number of pages:</label>
		<input type="number" name="number" min="1" max="1000">
	</div>
	<div>
		<label for="author">Title:</label> 
		<input type="text" name="title" value="">
	</div>
	<div>
		<label for="author">Author:</label>
		<input type="text" name="author" value="">
	</div>
	<div>
		<label for="date">Date:</label>
		<input type="date" id="datePicker" name="date" value="">
	</div>
	<div>
		<label for="comments">Comments:</label>
		<input type="text" name="comments" value="">
	</div>
	<div>
		<input class="w3-radio" type="radio" name="access" value="public" checked>
		<label>public</label>

		<input class="w3-radio" type="radio" name="access" value="private">
		<label>private</label>
	</div>
	<div><input type="submit" value="add"></div>
</form>

<div id="allLogs">
	<table class="scroll" align="center">
    <thead>
        <tr>
        	<th>Pages</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <!-- insert all logs here --> 
        {{#each allLogs}}
        <tr>
        	<td>{{this.number}}</td>
			<td>{{this.book.title}}</td>
			<td>{{this.book.title}}</td>
			<td>{{dateFormat this.date "dddd, MMMM Do YYYY" utc}}</td>
			<td>{{this.comments}}</td>
		</tr>
		{{/each}}     
    </tbody>
</table>
</div>


<!-- <script> 
	document.getElementById('datePicker').value = new Date();
</script> -->
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#datePicker" ).datepicker();
  } );
</script>

