
<div id="addLog">
	<h1>{{{__ "addLog"}}}</h1>
	{{#if message}}
		<div class="error">{{ message }}</div>
	{{/if}}
	<form method="POST" action="addlog">
			<input type="number" placeholder="{{{__ 'numberOfPages'}}}" name="number" min="1" max="1000">
			<input type="text" placeholder="{{{__ 'title'}}}" name="title" value="">
			<input type="text" placeholder="{{{__ 'author'}}}" name="author" value="">
			<input type="date" placeholder="{{{__ 'date'}}}" id="datePicker" name="date" value="">
			<textarea id="comments" type="text" placeholder="{{{__ 'comments'}}}" name="comments"></textarea>
			<div>
			<input class="w3-radio" type="radio" name="access" checked>
				<label>{{{__ 'public'}}}</label>
				<input class="w3-radio" type="radio" name="access">
				<label>{{{__ 'private'}}}</label>
			</div>
		<input type="submit" value="{{{__ 'add'}}}">
	</form>
</div>	

<!-- <script>
	document.getElementById('datePicker').value = new Date();
</script> -->
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $( function() {
    $( "#datePicker" ).datepicker();
  } );
</script>
<script>
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
