{{#if message}}
<div class="error">
	<div class="error-text">
		{{message}}
	</div>
</div>
{{/if}}

<div class="center-container">
	<div class="auth">
		<h2>{{{__ "login"}}}</h2>
		<form method="POST" action="login">
			<input placeholder="{{{__ 'username'}}}" type="text" name="username" value="">
			<input placeholder="{{{__ 'password'}}}" type="password" name="password" value="">
			<input value="{{{__ 'loginButton'}}}" type="submit">
		</form>
		<div>
			<a href="/auth/facebook"><img width="105" height="20" src="../img/login-with-facebook.png"></a></a>
		</div>
		<a href="/forgot"><h3>{{{__ "lostPassword"}}}</h3></a>
	</div>
</div>
