<div id="logsHistory">
<h1>{{{__ "myLogs"}}}</h1>
	<table id="history">
		<thead>
			<tr>
				<th>{{{__ "pages"}}}</th>
			    <th>{{{__ "title"}}}</th>
			    <th>{{{__ "author"}}}</th>
			    <th>{{{__ "date"}}}</th>
			    <th>{{{__ "Comments"}}}</th>
			</tr>
		</thead>
	    <tbody>
	        <!-- insert all logs here -->
	        {{#each allLogs}}
		        <tr>
		        	<td>{{this.number}}</td>
					<td>{{this.title}}</td>
					<td>{{this.author}}</td>
					<td>{{dateFormat this.date "dddd, MMMM Do YYYY" utc}}</td>
					<td>{{this.comments}}</td>
				</tr>
			{{/each}}
	    </tbody>
	</table>
</div>
