
<div class="col-md-11 col-xs-11 mx-md-5 my-5 bg-white rounded py-3">
<h1>{{{__ "myLogs"}}}</h1>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">{{{__ "pages"}}}</th>
			    <th scope="col">{{{__ "title"}}}</th>
			    <th scope="col">{{{__ "author"}}}</th>
			    <th scope="col">{{{__ "date"}}}</th>
			    <th scope="col">{{{__ "Comments"}}}</th>
			</tr>
		</thead>
	    <tbody>
	        <!-- insert all logs here -->
	        {{#each allLogs}}
		        <tr>
		        	<td>{{this.number}}</td>
					<td>{{this.title}}</td>
					<td>{{this.author}}</td>
					<td>{{dateFormat this.date "dddd, MMMM Do YYYY" utc}}</td>
					<td>{{this.comments}}</td>
				</tr>
			{{/each}}
	    </tbody>
	</table>
</div>
</div>
