<div class="center-container">
  <div class="auth">
    {{#if user}}
      <h2>@{{user.username}}</h2>
    {{/if}}

    <table>
        <tbody>
          <tr>
            <td>{{{__ "totalPages"}}}:</td>
            <td class="stats">{{totalPages}}</td>
          </tr>
          <tr>
            <td>{{{__ "totalBooks"}}}:</td>
            <td class="stats">{{totalBooks}}</td>
          </tr>
          <tr>
            <td>{{{__ "average"}}}:</td>
            <td class="stats">{{avgPages}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
