<div class="col-md-3 center_div mt-5 bg-white rounded py-3">
    {{#if user}}
      <h2 class="text-center">@{{user.username}}</h2>
    {{/if}}

    <table class="table">
        <tbody>
          <tr>
            <td>{{{__ "totalPages"}}}:</td>
            <td class="stats">{{totalPages}}</td>
          </tr>
          <tr>
            <td>{{{__ "totalBooks"}}}:</td>
            <td class="stats">{{totalBooks}}</td>
          </tr>
          <tr>
            <td>{{{__ "average"}}}:</td>
            <td class="stats">{{avgPages}}</td>
          </tr>
        </tbody>
    </table>
  </div>
