<div class="center-container">
	<div class="auth">
		<p>{{{__ "username"}}}: {{username}}</p>
		<p>{{{__ "email"}}}: {{email}}</p>
		<a href="/change"> {{{__ "change"}}}</a><br>
		<a href="/logout">{{{__ "logOut"}}}</a>
	</div>
</div>