{{#if message}}
	<div class="error">
		<div class="error-text">
			{{message}}
		</div>
	</div>
{{/if}}

<div class="center-container">
	<div class="auth">
		<h2>{{{__ "signUp"}}}</h2>
		<form method="POST" id="regForm" action="register" data-parsley-validate="true">
			<input type="text" placeholder="{{{__ 'username'}}}" id="usernameEntry" name="username" required data-parsley-validation-threshold="2" data-parsley-type="alphanum" data-parsley-length="[6, 100]" data-parsley-trigger="keyup" value="">
			<input type="email" placeholder="{{{__ 'email'}}}" required data-parsley-validation-threshold="2" data-parsley-type="email" data-parsley-trigger="keyup" name="email" value="">
			<input type="password" placeholder="{{{__ 'password'}}}" required data-parsley-validation-threshold="2" data-parsley-length="[6, 100]" data-parsley-trigger="keyup" id="password" name="password" value="">
			<input type="password" placeholder="{{{__ 'verifyPassword'}}}" required data-parsley-validation-threshold="2" data-parsley-equalto="#password" data-parsley-trigger="keyup" name="password-verify" id="password-verify"/>
			<input type="submit" id="submit" value="{{{__ 'register'}}}">
		</form>

		<a href="/auth/facebook">{{{__ "continueFacebook"}}}</a>
	</div>
</div>

<script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://parsleyjs.org/dist/parsley.js"></script>
<script src="i18n/ru.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('regForm').parsley();
  });
</script>

<!-- <script>
	$('#usernameEntry').on('change', function() {
	$.get('/usercheck?username='+$('#usernameEntry').val().toLowerCase(),function(response) {  
	$('#usernameResponseHidden').text(response.message)
		if ($('#usernameResponseHidden').html() === "user exists"){
			$('#usernameResponse').text('That username is taken. Please pick another')
		}
	}
});
</script> -->