{{#if message}}
	<div class="error">
		<div class="error-text">
			{{{__ "emailExists"}}}
		</div>
	</div>
{{/if}}

{{#if exists}}
<div class="error">
	<div class="error-text">
		{{exists}}
	</div>
</div>
{{/if}}

<div class="col-md-3 center_div text-center mt-5 bg-white rounded py-3 px-4">
		<h2>{{{__ "signUp"}}}</h2>
		<form method="POST" id="regForm" action="register" data-parsley-validate="true">

			<div class="form-group">
				<input type="text" placeholder="{{{__ 'username'}}}" class="form-control text-center" id="usernameEntry" name="username" required data-parsley-validation-threshold="2" data-parsley-type="alphanum" data-parsley-length="[6, 100]" data-parsley-trigger="keyup" data-parsley-remote data-parsley-remote-options='{ "type": "GET" }' data-parsley-remote-validator="validateUsername" data-parsley-remote-message='{{{__ "usernameExists"}}}' value="">
			</div>
			<div class="form-group">
				<input type="email" placeholder="{{{__ 'email'}}}" class="form-control text-center" required data-parsley-customValidation data-parsley-username="" data-parsley-validation-threshold="2" data-parsley-type="email" data-parsley-trigger="keyup" name="email" value="">
			</div>
			<div class="form-group">
				<input type="password" placeholder="{{{__ 'password'}}}" class="form-control text-center" required data-parsley-validation-threshold="2" data-parsley-length="[6, 100]" data-parsley-trigger="keyup" id="password" name="password" value="">
			</div>
			<div class="form-group">
				<input type="password" placeholder="{{{__ 'verifyPassword'}}}" class="form-control text-center" required data-parsley-validation-threshold="2" data-parsley-equalto="#password" data-parsley-trigger="keyup" name="password-verify" id="password-verify"/>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block login">{{{__ 'register'}}}</button>
			</div>
		</form>

		<small><a href="/auth/facebook" class="text-secondary">{{{__ "continueFacebook"}}}</a></small>
	</div>

<script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://parsleyjs.org/dist/parsley.js"></script>
<script src="i18n/{{lang}}.js"></script>


<script>
	//validating that email doesnt yet exist
	window.Parsley.addAsyncValidator('validateUsername', function (xhr, statusText) {
    return 202 === xhr.status;
  },'/usercheck?'+$('#usernameEntry').val().toLowerCase());
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('regForm').parsley();
  });
</script>

<script>
$(document).ready(function () {
$('#regForm').parsley().subscribe('parsley:field:error', function () {
	var errorList = document.getElementsByClassName("parsley-errors-list");
	for (var i = 0; i < errorList.length; i++) {
		if (errorList[i].childElementCount == 0){
			errorList[i].style.display = "none";
		}else{
			errorList[i].style.display = "block";
		}
	}
});
$('#regForm').parsley().subscribe('parsley:field:success', function () {
var errorList = document.getElementsByClassName("parsley-errors-list");
	for (var i = 0; i < errorList.length; i++) {
		if (errorList[i].childElementCount == 0){
			errorList[i].style.display = "none";
		}else{
			errorList[i].style.display = "block";
		}
	}
});
});
</script>
